//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 17 08:50:31 2023
//! **************************************************************************

SCHEMATIC START;
COMP "HEX0<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "number<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "HEX0<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "number<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "HEX0<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "number<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "HEX0<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "number<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "HEX0<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "HEX0<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "HEX0<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "HEX0<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "anodo<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodo<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodo<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodo<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

