//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 19 23:59:02 2023
//! **************************************************************************

SCHEMATIC START;
COMP "A<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "A<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "HEX0<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "B<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "HEX0<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "B<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "HEX0<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "B<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "HEX0<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "B<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "HEX0<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "HEX0<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "HEX0<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "Selector<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "HEX0<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "Selector<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "Selector<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "Selector<3>" LOCATE = SITE "D9" LEVEL 1;
COMP "anodo<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodo<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodo<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodo<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "C" LOCATE = SITE "M11" LEVEL 1;
COMP "S" LOCATE = SITE "R11" LEVEL 1;
COMP "V" LOCATE = SITE "T11" LEVEL 1;
COMP "Z" LOCATE = SITE "N11" LEVEL 1;
COMP "Resultado<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Resultado<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Resultado<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Resultado<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "A<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "A<1>" LOCATE = SITE "T9" LEVEL 1;
SCHEMATIC END;

